body {
	background-color: #192C64;
	text-align: center;
}

.container {
	width: max: 500px;
	margin: 50px;
}

button {
	background: none;
	border: 2px solid white;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

p {
	margin: 50px;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}